html {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10em;
}

.logo-count{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


